go 1.26.3

use (
	./libs/pulselens-common
	./libs/pulselens-platform
	./services/pulselens-alerting-service
	./services/pulselens-ingest-service
	./services/pulselens-processing-service
	./services/pulselens-query-service
	./services/pulselens-tenant-service
)
